<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Slack Log Viewer</title>
	<style>
		body {
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 13px;
		}

		div.logsection {
			font-family: fixed;
			background-color: #ddd;
			padding: 6px;
			border: black 1px dashed;
		}

		div.navsec {
			margin-bottom: 10px;
		}

		div.monthsec {
			background-color: #ddd;
			padding: 6px;
			border: black 1px dashed;
			margin-bottom: 10px;
		}

		div.monthhead {
			font-weight: bold;
		}

		span.termhi {
			background-color: yellow;
		}

		tr.even {
			background-color: #eee;
		}

		td.left {
			padding-right: 20px;
		}

		a.comment-link {
			color: #0088AA;
		}

		div#quote {
			margin-top: 25px;
			margin-bottom: 25px;
			clear: both;
			width: 650px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			background-color: gray;
			padding: 10px;
		}

		#quote a {
			text-decoration: none;
			color: white;
			font-size: 18px;
			line-height: 150%
		}
	</style>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	{{ .HeaderExtras }}
	<script src="{{ .Base }}/AutoLinker.js"></script>
	<script type="text/javascript">
		function add_links() {
			[].slice.call(
				document.querySelectorAll('.logline')
			).forEach(function (node) {
				node.innerHTML = Autolinker.link(node.innerHTML);
			})
		}

		animation_speed = 200;

		function animate_logs() {
			base = '2014-01-01T';
			[].slice.call(
				document.querySelectorAll('.logline')
			).forEach(function (node) {
				node.style.display = 'none';
				logtime_str = node.querySelector('.comment-link').innerHTML;
				logtime = Date.parse(base + logtime_str);
				diff = logtime - Date.parse(base + '00:00:00');
				// replay logs at animation_speed x real time
				delay = diff / animation_speed;
				setTimeout(function () {
					node.style.display = 'block';
					window.scrollTo(0, document.body.scrollHeight);
				}, delay);
			});
		}
	</script>
</head>

<body onload="add_links();">
	<div id="header">
		<h1><a href="{{ .Base }}/">Log file Viewer</a></h1>

		{{with .ByLine}}
		<div class="byline">{{ . }}</div>
		{{end}}
		<form action="{{ .Base }}/search" method="GET">
			<h3>
				<a href="{{ .Base }}/queue">Queue Length</a> |
				Search: <input type="text" name="term" />
				<input type="submit" value="Search" />
			</h3>
		</form>

		{{ template "body" . }}
</body>

</html>