{{ define "body" }}
<h3>#{{ .Channel.Channel.Name }} logs</h3>
<div class="navsec">
	(<a href="{{ .Base }}">Back to channel listing</a>)
</div>
{{ range $year, $months := .Channel.Dates }}
{{ range $month, $days := $months }}
<div class="monthsec">
	<div class="monthhead">{{ $year }}-{{ $month | printf "%02d" }}</div>
	<ul>
		{{ range $days }}
		<li><a
				href="{{ $.Base }}/{{ $.Channel.Channel.CID }}/{{ .Format "2006-01-02" }}">{{ .Format "Monday, 02.01.2006" }}</a>
		</li>
		{{ end }}
	</ul>
</div>
{{ end }}
{{ end }}
{{ end }}