{{ define "body" }}
<h3>#{{ .Day.Channel.Name }} logs for {{ .Day.Date.Format "Monday, 2 January 2006" }}</h3>
<div class="navsec">
	(<a href="{{ .Base }}/channel/{{ .Day.Channel.CID }}">Back to #{{ .Day.Channel.Name }} overview</a>)
	(<a href="{{ .Base }}">Back to channel listing</a>)
	(<a href="javascript:animate_logs()">Animate logs</a>)
</div>

<div class="logsection">
	{{ range .Day.Msgs }}
	<div class="logline">
		<a name="{{ .Time.Format "150405" }}"></a>
		[<a href="#{{ .Time.Format "150405" }}" class="comment-link">{{ .Time.Format "15:04:05" }}</a>] &lt;<span
			style="color: #{{ .User.Name | $.Day.LogColor }}">{{ .User.Name }}</span>&gt;
		{{ .Message | $.Day.LogLinker }}
	</div>
	{{ end }}
</div>
{{ end }}