{{ define "body" }}
<h3>Current Channels</h3>
<ul>
	{{ range .Index.LastMsgs }}
	<li><a href="{{ $.Base }}/{{ .Channel.CID }}">{{ .Channel.Name }}</a>&nbsp;&mdash;&nbsp; <span
			style="font-family: fixed;">[<a
				href="{{ $.Base }}/{{ .Channel.CID }}/{{ .Time.Format "2006-01-02" }}#{{ .Time.Format "150405" }}"
				class=" comment-link">{{ .Time.Format "2006-01-02 15:04" }}</a>]
			&lt;{{ .User.Name }}&gt; {{ .Message }}</li>
	{{ end }}
</ul>
{{ end }}