{{ define "body" }}
<h3>Queue Size</h3>
<div class="navsec">
    (<a href="{{ .Base }}">Back to channel listing</a>)
</div>

<div class="logsection">
    <canvas id="chart"></canvas>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script>
    var ctx = document.getElementById('chart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [{
                label: 'Queue Size',
                data: [
                    {{ range .Queue.Size }}
                    {
                        t: "{{ .Time.Format "Mon Jan 02 15:04:05 -0700 2006" }}",
                        y: {{ .Size }}
                    },
                    {{ end }}
                ]
            }]
        },
        options: {
            responsive: true,
            scales: {
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Date'
                    },
                    type: 'time'
                }]
            }
        }
    });
</script>
{{ end }}