{{ define "body" }}
<h3>{{ .Search.Total }} Results found for "{{ .Search.Term }}" (showing most recent
	first{{ if (gt .Search.Total 20) }}, limit to 20{{ end }})</h3>

{{ range .Search.Results }}
<div class="result_heading">
	<a href="{{ $.Base }}/{{ .Msg.Channel.CID }}/{{ .Msg.Time.Format "2006-01-02" }}#{{ .Msg.Time.Format "150405" }}"><i>{{ .Msg.Time.Format "2006-01-02 15:04" }}
			in {{ .Msg.Channel.Name }}</i></a>
</div>
<div class="logsection">
	{{ range .Context }}
	<div class="logline">
		[{{ .Time.Format "15:04:05" }}] &lt;<span
			style="color: #{{ .User.Name | $.Day.LogColor }}">{{ .User.Name }}</span>&gt;
		{{ .Message | $.Day.LogLinker }}
	</div>
	{{ end }}
</div>
<br />
<br />
{{ end }}
{{ end }}